.card {
    width: 180px;
    background-color: #fff;
    margin: 10px;
    border-radius: 5px;
    transition: background-color ease 0.8s;
    &:hover {
        width: 184px;
        // box-shadow: 4px 4px 5px 4px grey;
        .card-up {
            background-color:#fff;
            height: 122px;
        }
        .card-down {
            background-color: lightgray;
            height: 122px;
        }
    }
}
.card-up {
    background-color: lightgray;
    height: 120px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card-down {
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 120px;
    // border-top: 0.5px solid lightgray;
}
.pokemonImage {
    padding: 5px 0 0 0;
}
.pokemonId {
    margin: 0;
    padding-left: 15px;
    padding-bottom: 5px;
    text-align: initial;
    font-size: 12px;
    font-weight: 100;
}
.pokemonName {
    padding: 15px 15px 0 15px;
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 0;
    text-align: initial;
}
.pokemonTypes {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    list-style: none;
}
.pokemonType {
    padding: 5px;
    margin: 5px;
    border: 1px solid lightgray;
    border-radius: 8px;
    font-size: 12px;
}
.evolution {
    font-size: 14px;
    margin: 0;
}