.detailContainer {
    background-color: yellow;
    height: 100vh;
}
.navContainer {
    padding: 10px;
    margin-left: 20px;
    text-align: left;
}
.backButton {
    text-transform: capitalize;
    background-color: #fff;
    border: #fff;
    font-size: 16px;
    padding: 10px;
}
.backButton__link {
    text-decoration: none;
    color: grey;
    &:hover {
        color: grey;
    }
}
.mainCard {
    width: 280px;
    margin: 0 auto;
    background-color: #fff;
}
.mainCard__title {
    background-color: lightgray;
    padding: 10px;
    text-transform: capitalize;
}
.mainCard__profileTitle {
    background-color: lightgray;
    padding: 5px;
    width: 240px;
    margin: 0 auto;
    text-align: left;
}
.profileList {
    list-style: none;
    text-align: left;
    width: 220px;
    .profileList__item {
        padding: 3px;
    } 
}
.profileList__abilitiesList {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}
.abilitiesList__item {
    padding: 0 5px 0 0;
}
.imagesList {
    padding: 0;
    list-style: none;
}
.imagesList__item {
    list-style: none;
}
.pokemonImage {
    padding: 0;
}
.evolutionsNames {
    padding-bottom: 15px;
    padding-left: 0;
    list-style: none;
}