.itemList {
    list-style: none;
}
.pokemonName {
    text-transform: capitalize;
}
.itemUpperCasse {
    text-transform: uppercase;
}
.pokemonList {
    padding-inline-start: 0;
}
.chooseParagraph {
    margin-block-end: 0;
}