.itemList {
    list-style: none;
}
.pokemonName {
    text-transform: capitalize;
}
.itemUpperCasse {
    text-transform: uppercase;
}
.pokemonList {
    padding-inline-start: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: yellow;
    margin-block-end: 0;
}
.chooseParagraph {
    margin-block-end: 0;
}